
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 * {
     font-family: "Work Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
 }
 .btn-primary{
     background: #FF900E;
     /* width: 180px;
     height: 64px; */
     padding: 15px 20px;
     border: none;
     border-radius: 8px;
     margin-bottom: 20px;
     color: white;
     font-size: 20px;
     font-weight: 600;
 }

 header{
     background: rgba(252, 142, 16, 0.178);
     padding: 50px 230px;
 }
 
 /* nav style */
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 nav > ul{
     list-style: none;
     display: flex;

 }
 nav  li{
     margin-left: 20px;
     
 }
 nav  li a{
     color: #424242;
     font-weight: 500;
     font-size: 1rem;
     text-decoration: none;
 }
 .nav-title{
     color: #131313;
     font-size: 1.8rem;
 }
 /* banner section */
 .banner-content{
     max-width: 800px;
     margin: 0 auto;
     text-align: center;
 }
 .banner-title{
     font-size: 4rem;
      font-weight: 700;
     margin-bottom: 20px; 
 }
 .banner-description{
     color: #727272;
     font-size: 1rem;
     font-weight: 400;
 }
 .banner-img img{
      width: 100%;
     margin-bottom: 30px;
  
 }
  /* main style  section */
  .main{
    max-width: 1440px;
     margin: 70px auto;

  }
 /* teams  section */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-ing-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 1.5rem;
    
}

.teams-content{
    padding-left: 70px ;
    padding-right: 70px
}
  .teams-title{
    font-size: 3rem;
  }
.quick-style{
    color: #727272;
    font-weight: 500;
    font-size: 3rem;
}
.list-our{
    color: #131313;
    font-weight: 700;
}
.feature-item{
    color: #FF900E;
    font-weight: 700;

}
.teams-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
    width: 537px;
}









 /* resaponsive */

 /* mobile divise */
@media screen and (max-width: 576px) {
    header{
       padding: 20px;
    }
    nav,
     .teams-container{
        flex-direction: column;
    }
    .teams-ing-container{
        grid-template-columns: 1fr;
       
    }
    .teams-content{
        padding-left: 20px ;
        padding-right: 20px
    }
}
@media screen {
    
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav, 
     .teams-container{
        flex-direction: column;
    }
    header{
        padding: 50px;
     }
    
}
